<h3>About Us</h3>
<p>Deadheads of South America. </p>
<p>Celebrating the Grateful Dead in the southern hemisphere.</p> 
<p>Let there be songs to fill the air.</p>


<h3>Check out our <b> <a href="https://deadsouthamerica.com/store.html">STORE</a> </b> </h3>
<p> we have some heady stuff, we might add more stuff down the road</p>



<h3>Reach out</h3>
<p>Follow us on <a href="https://www.instagram.com/deadsouthamerica/">Instagram</a>.</p>
<p>Drop us a line at hello @ deadsouthamerica.com </p>
<ul>
</ul>


<h3>Forever Grateful. Forever Dead.</h3>
<p> Do you want to be the first to know when we drop slaps, t-shirts, and more? </p>
<p> Sign up for our <a href="https://tinyletter.com/DeadLetter">Dead Letter</a> below!</p>


<hr />


<!--  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/DeadLetter" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/DeadLetter', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form> --> 

<hr />


