<h2>About Dead South America</h2>
<p>Repping the Dead in the southern hemisphere. Illustrations and more.</p>

<h2>Let there be songs to fill the air</h2>
<ul>
  <li>Based out of Lima, Peru</li>
</ul>

<p>Follow us on <a href="https://www.instagram.com/deadsouthamerica/">Instagram</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
